tensorflow==2.4.0
tensorflow-probability==0.12.2
tf-agents==0.7.1
gin~=0.1.6
absl-py
gym~=0.18.3
pyaml
matplotlib~=3.4.2
cppimport==18.11.8
pandas~=1.2.4
numpy~=1.19.5
PyYAML~=5.4.1
Pillow~=8.2.0
six~=1.15.0
dask~=2021.7.0